div header {
    background-color: #01579b;
    color: white;
    padding: 16px;
}
.dialog-content {
    padding: 16px;
    color: green;
    border-top: 2px solid #01579b;
}
.dialog-content div {
    color:#01579b
}