#logo {
    width: 50px;
    height: 50px;
}
mat-toolbar {
    background-color: white;
}
mat-sidenav {
    width: 200px;
    height: 100%;
    border: none;
    background-color: #E6E6E6 !important;
}
mat-sidenav-container {
    height: calc(100vh - 64px);
    background-color: #E6E6E6 !important;
}
mat-list {
    padding-top: 0px;
}
.menu-list {
    text-decoration: none;
    font-size: 0.875rem;
    letter-spacing: 1.25px;
    transition: 300ms;
    border-radius: 5px;
    color: #01579b; 
}
nav {
    width: 550px;
}
.menu-list:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-list span {
    margin-left: 10px;
}
.icons {
    width: 100vw;
    height: 100%;
}
.home-content {
    width: 800px;
    height: calc(100vh - 74px);
    margin-top: 100px;
}
.home-content-xs-sm {
    width: 100%;
    height: calc(100vh - 64px);
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
nav a {
    transition: 300ms;
    padding-right: 10px;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-icons {
    margin-right: 15px;
    margin-left: 20px;
}
.logo {
    width: 41%;
}
.search .mat-form-field-underline {
    width: 0px !important;
}
.search.mat-form-field {
    font-size: 12px; 
    height: 42px;
    width: 200px;
    color: #0288d1;
    background-color: white;
    border: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white;
}
#icon-search{
    color: #0288d1;
}
mat-form-field mat-icon {
    cursor: pointer;
}
#menu {
    width: calc(100vw - 16px);
}
.menu-icon {
    color: white;
    padding: 3px;
    width: 35.2px;
    font-size: 2rem;
}
#perfil {
    padding: 3px;
}
.notificacao {
    width: 100px;
    height: 200px;
}
.notNotfications {
    color: rgba(0, 0, 0, 0.1)
}
.background {
    background: rgba(0, 0, 0, 0);
}
