<mat-toolbar color="primary">
  <mat-toolbar-row >

    <div id="menu"
    fxLayout="row"
    fxLayoutAlign="center center">
    <nav 
    fxLayout="row"
    fxLayoutAlign="space-between center">

    <div fxLayoutAlign="center center" fxLayoutGap="10px">
      <img 
      fxHide.xs
      fxHide.sm
      id="logo" 
      src="../../../../assets/imgs/logo-fundo-branco.png" 
      alt="Logo Marca.">
      <mat-form-field appearance="fill" class="search">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup.enter)="findPublicationsByParams()" [formControl]="search">
        <mat-icon id="icon-search" matSuffix (click)="findPublicationsByParams()">search</mat-icon>
      </mat-form-field>
    </div>
<div fxLayoutGap="7px" fxLayoutAlign="center center" class="menu-icons">
  
  <a 
  routerLink="/home"
  >
    <mat-icon class="menu-icon">
       home 
    </mat-icon>
  </a>
  <a 
  routerLink="/publicar"
   >
   <mat-icon class="menu-icon">
       add_box
    </mat-icon>
  </a>
  <a 
  id="notificacao"
  (click)="notifications()"
   >
   <mat-icon class="menu-icon" [matBadge]="badge" matBadgeColor="warn" [matBadgeHidden]="badge === 0 ? true : false">
       notifications 
    </mat-icon>
  </a>
  <a id="perfil" routerLink="/perfil">
    <participativo-avatar 
    id="menu-perfil"
    borderColor="2px solid white" 
    [src]="usuarioImageUrl + usuario?.avatar | img:'../../../../assets/imgs/no_user_logo.png' | async" 
    width="40px" height="40px">
    </participativo-avatar></a>
  <a 
  routerLink="/"
  (click)="sair()">
  <mat-icon class="menu-icon">
    exit_to_app 
    </mat-icon>
  </a>
</div>
</nav>
  </div>
  </mat-toolbar-row>
</mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav-content
    id="sidenav"
    fxLayout="row"
    (scroll)="onScroll($event)"
    fxLayoutAlign="center center"
    >
    <div class="home-content"
    [ngClass.xs]="'home-content-xs-sm'"
    [ngClass.sm]="'home-content-xs-sm'">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>