<mat-card fxLayout="column" fxLayoutAlign="center" class="categoria" fxLayoutGap="15px">
    <h5>Filtros</h5>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
   <div 
   class="categoria-content mat-elevation-z2" 
   fxLayout="row" 
   fxLayoutAlign="center center"
   *ngFor="let task of task">
   <section class="example-section">
    <mat-checkbox class="example-margin"
     [checked]="task.completed" 
     [color]="task.color" 
     [id]="task.id"
     [disabled]= task.disabled
     (change)="filter($event)">{{ task.name }}</mat-checkbox>
  </section>
        </div>
    </div>
</mat-card>

<mat-card fxLayout="column" *ngFor="let publicacao of publicacoesList">
    <a [routerLink]="'/home/ver-publicacao/' + publicacao.uuid">
    <section fxLayoutAlign="start">
        <img id="user-img" [attr.src]="usuarioImageUrl + publicacao.usuario.avatar | img:'../../../../../assets/imgs/no_user_logo.png' | async" alt="Foto do usuario">
           <p id="name-user">{{ publicacao?.usuario?.nome }}
           {{ publicacao?.usuario?.sobrenome }}</p>
    </section>
    <div id="divider">
        <mat-divider></mat-divider>
    </div>
    <div 
    fxLayoutAlign="start"
    fxLayout="row">
        <span id="descricao-publicacao">
            <span id="data-publicacao">
                {{ publicacao.createdAt }} . 
            </span>
            <span >
                {{ publicacao.descricao }}
            </span>
        </span>
        <img id="publicacao-img" *ngIf="publicacao.image != null"  [attr.src]="(publicacaoImageUrl + publicacao.image | img) | async" alt="Imagem da publicacao">
    </div>
<div id="info-content" fxLayout="column" fxLayoutAlign="end">
    <div fxLayoutAlign="space-between center" id="info">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <mat-icon>thumb_up</mat-icon>
                <p>{{ publicacao.totalApoios }}</p>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
                <p>{{ publicacao.totalComentarios }} Comentários</p>
            </div>
    </div>
</div>
</a>
</mat-card>