.header{
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}
mat-icon {
    color: #01579b;
}
.imageCommment {
    display: none;
}
.imageCommmentShow {
    display: block;
    transition: 1s;
}
#upload {
    display: none;
}
h5 {
    text-transform: capitalize;

}
.delete {
    width: 100%;
}