<div class="comment" *ngFor="let comment of comment, let i = index">
  <header
  fxLayout="row"
  fxLayoutGap="5px"
  fxLayoutAlign="start start"
  >
    <img class="avatar"  src="../../../../../../assets/imgs/none-avatar.jpg" alt="Foto do usuario.">
    <div
    *ngIf="!show[i]"
    class="comment-content"
    fxLayout="column"
    fxLayoutAlign="end start"
    fxLayoutGap="3px"
    >
      <strong><p>{{ comment.usuario.nome }} {{ comment.usuario.sobrenome }}</p></strong>
      <p>{{ comment.corpo }}</p>
    </div>
    <div
    *ngIf="show[i]"
    class="comment-content-edit"
    fxLayout="column"
    fxLayoutAlign="end start"
    fxLayoutGap="3px"
    >
      <strong><p>{{ comment.usuario.nome }} {{ comment.usuario.sobrenome }}</p></strong>
      <mat-form-field color="primary">
        <input matInput [formControl]="editCommentControl" (keyup.enter)="editCommentEmit(comment)">
        <mat-icon matSuffix class="iconCommentInput" (click)="editCommentEmit(comment)">send</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
         (click)="openEdit(i, comment)"
         (click)="receiveComment(comment)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteCommenEmit(comment)">
          <mat-icon>delete</mat-icon>
          <span>Apagar</span>
        </button>
      </mat-menu>
      
    </div>
  </header>
</div>
<div
fxLayout="row"
fxLayoutGap="5px"
fxLayoutAlign="start center"
class="comment-area">
<img class="avatar"  src="../../../../../../assets/imgs/none-avatar.jpg" alt="Foto do usuario.">

<mat-form-field color="primary">
  <input matInput placeholder="Escreva um comentário" [formControl]="commentInput" (keyup.enter)="commentEmit()">
  <mat-icon matSuffix class="iconCommentInput" (click)="commentEmit()" >send</mat-icon>
</mat-form-field>

</div>