<div 
fxLayout="column"
fxLayoutAlign="start"
class="content">
  <h4>Termos de uso</h4>
<p>
<strong>Última modificação:</strong> 03 de setembro de 2020
</p>
<p> 
  <strong>Bem-vindo ao Participativo - A rede social do cidadão!</strong>
</p>
<p>
  Agradecemos por usar nossos produtos e serviços (“Serviços”). Os  Serviços serão fornecidos pela Andromeda LTDA (“Andromeda”),
  localizado em Foz do Iguaçu, Brasil.
</p>
<p>
  Ao usar nossos Serviços, você está concordando com estes termos. Leia-os com atenção.
</p>

<p>
  Nossos Serviços são muito diversos, portanto, às vezes, podem aplicar-se termos adicionais ou exigências de produtos
  (inclusive exigências de idade). Os termos adicionais estarão disponíveis com os Serviços relevantes e 
  esses termos adicionais se tornarão parte de nosso contrato com você, caso você use esses Serviços.
</p>

<p>
  <strong>Como usar nossos serviços</strong>
</p>

<p>
  É preciso que você siga as políticas disponibilizadas a você dentro dos Serviços.
</p>

<p>
  Não faça uso indevido de nossos Serviços. Por exemplo, não interfira com nossos Serviços nem tente acessá-los por um método 
diferente da interface e das instruções que fornecemos. Você pode usar nossos serviços somente conforme permitido por lei, 
inclusive leis e regulamentos de controle de exportação e reexportação. Podemos suspender ou deixar de fornecer nossos 
Serviços se você descumprir nossos termos ou políticas ou se estivermos investigando casos de suspeita de má conduta.
</p>

<p>
  <strong>Sua conta no Participativo - A rede social do cidadão</strong>
</p>

<p>
  Você precisa criar uma Conta do Cidadão Participativo para utilizar os nossos Serviços.
</p>

  <button mat-raised-button color="primary" [routerLink]="link">voltar</button>
</div>