<div
class="content"
fxLayout="column"
fxLayoutGap="30px"
>
  <header>
    <h5>Esqueceu a senha?</h5>
    <span> Informe seu email de cadastro e receba um link 
      para renovar a senha.  </span>
  </header>
  <section>
    <mat-form-field>
      <mat-label>Digite seu email</mat-label>
      <input matInput placeholder="Digite seu email" [formControl]="forgotPasswordInput">
      <mat-error *ngIf="forgotPasswordInput.hasError('required')">
        Email é <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="forgotPasswordInput.hasError('email') && !forgotPasswordInput.hasError('required')">
        Por favor insira um endereço de e-mail válido
      </mat-error>
    </mat-form-field>
  </section>
  <section 
  fxLayout="row"
  fxLayoutGap="50px"
  >
    <div   
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
        <button mat-raised-button color="primary" id="enviar" (click)="forgotPassword()" [disabled]="spinner === true ? true : false">Enviar</button>
        <mat-spinner diameter="35" *ngIf="spinner"></mat-spinner>
    </div>
    <button mat-raised-button id="login" routerLink="/">Fazer login</button>
  </section>
  <a routerLink="/registrar">Não tenho cadastro!</a>
</div>