mat-form-field, section{
    width: 100%;
}
.content header h5 {
    color: #01579b;
    font-weight: bold;
    padding-bottom: 15px;
}
.content header span {
    color: #0288d1;
    font-size: 1rem;
    letter-spacing: 0.15px;
}
.content a {
    color: rgba(2, 136, 209, 0.5);
    text-decoration: none;
    transition: 200ms;
}
.content a:hover {
    cursor: pointer;
    color: rgba(2, 136, 209, 1);
}
.content section #login {
    color: #01579b;
}