<div
class="content"
fxLayout="column"
fxLayoutGap="30px"
>
  <header>
    <h5>Esqueceu a senha ?</h5>
    <span> Informe seu email de cadastro e receba um link 
      para renovar a senha.  </span>
  </header>
  <section>
    <mat-form-field>
      <mat-label>Digite seu email</mat-label>
      <input matInput placeholder="Digite seu email">
    </mat-form-field>
  </section>
  <section 
  fxLayout="row"
  fxLayoutGap="50px"
  >
    <button mat-raised-button color="primary" id="enviar" routerLink="/sucesso/recuperar-senha">Enviar</button>
    <button mat-raised-button id="login" routerLink="/">Fazer login</button>
  </section>
  <a routerLink="/registrar">Não tenho cadastro!</a>
</div>