<div
class="content"
fxLayout="column"
>
<h5>Trocar senha</h5>
<form [formGroup]="form" 
fxLayoutGap="10px"
fxLayout="column">
  <mat-form-field appearance="legacy" color="primary">
    <mat-label>Digite a nova senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="novaSenha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('novaSenha').hasError('required')">
      O campo nova senha é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
    <mat-form-field appearance="legacy" color="primary">
    <mat-label>Digite novamente a nova senha</mat-label>
    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="novaSenha2">
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('novaSenha2').hasError('required')">
      O campo nova senha é <strong>obrigatório</strong>
    </mat-error>
    <mat-error *ngIf="form.get('novaSenha2').hasError('compare') && form.get('novaSenha2').touched">
      Senhas digitadas são diferentes
    </mat-error>
  </mat-form-field>
</form>
  <section
  id="buttons"
  fxLayout
  fxLayoutAling="center center"
  fxLayoutGap="10px"
  >
    <button mat-raised-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="updatePassword() ">Trocar senha</button>
  </section>
</div>