#img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.notificacao {
    width: 100%;
    border-radius: 16px;
}
.spinner {
    height: 100%;
}
mat-card {
    margin-bottom: 15px;
    padding: 0px;
    overflow: hidden;
    height: 110px;
}
#img-publicacao {
    width: 80px;
    height: 80px;
}
.toUppeCase {
    text-transform: uppercase;
    color: black;
}
#user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.color {
    color: rgba(0, 0, 0, 0.5);
}
.color span {
    text-transform: capitalize;
}
.font-size {
    font-size: 0.875rem;
}
.read {
    background-color: rgba(0, 0, 0, 0.1);
}
.notificacao-content {
    padding: 16px;
    flex: 1;
}
.a {
    text-decoration: none;
    color: black;
    height: 100%;
    flex: 1;
}