#img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.notificacao {
    width: 100%;
    border-radius: 16px;
}
.spinner {
    height: 100%;
}
mat-card {
    margin-bottom: 15px;
    padding: 0px;
    overflow: hidden;
    height: 110px;
}
#img-publicacao {
    width: 80px;
    height: 80px;
}
.toUppeCase {
    text-transform: uppercase;
    color: black;
}
#user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.color {
    color: rgba(0, 0, 0, 0.5);
}
.color span {
    text-transform: capitalize;
}
.font-size {
    font-size: 0.875rem;
}
.read {
    background-color: rgba(0, 0, 0, 0.1);
}
.notificacao-content {
    padding: 16px;
    flex: 1;
}
.a {
    text-decoration: none;
    color: black;
    height: 100%;
    flex: 1;
}
@media(min-width: 1750px) {
    span {
        font-size: 1rem;
    }
    .toUppeCase {
        font-size: 1rem;
    }
    #img-publicacao {
        width: 80px;
        height: 80px;
    }
    #user-img {
        width: 80px;
        height: 80px;
    }
    mat-card {
        height: 110px;
    }
}
@media(max-width: 1740px) {
    span {
        font-size: 0.75rem;
    }
    .toUppeCase {
        font-size: 0.875rem;
    }
    #img-publicacao {
        width: 60px;
        height: 60px;
    }
    #user-img {
        width: 60px;
        height: 60px;
    }
    mat-card {
        height: 100px;
    }
}
@media(max-width: 1510px) {
    span {
        font-size: 0.625rem;
    }
    .toUppeCase {
        font-size: 0.75rem;
    }
    #img-publicacao {
        width: 40px;
        height: 40px;
    }
    #user-img {
        width: 40px;
        height: 40px;
    }
    mat-card {
        height: 90px;
    }
}