h1 {
font-size: 6rem;
letter-spacing: -1.5px;
font-weight: lighter;
}
h2 {
font-size: 3.75rem;
letter-spacing: -0.5px;
font-weight: lighter;    
}
h3 {
font-size: 3rem;
letter-spacing: 0px;
font-weight: normal;    
}
h4 {
font-size: 2.1rem;
letter-spacing: 0.25px;
font-weight: normal;       
}
h5 {
font-size: 1.5rem;
letter-spacing: 0px;
font-weight: normal;   
}
h6 {
font-size: 1.25rem;
letter-spacing: 0.15px;
font-weight: normal;       
}
button {
font-size: 0.875rem;
letter-spacing: 1.25px;
}
span, p {
font-size: 1rem;
letter-spacing: 0.25;
}
.content {
    height: 100%;
    padding: 50px;
}
@media(max-width: 1279px) {
    .content {
        padding: 25px;
    }
}
@media(max-width: 959px) {
    html {
        font-size: 0.75rem !important;
    }
}

.success {
    background-color: green;
}
.warning {
    background-color: yellow;
}
.error {
    background-color: red;
}
.dialog-reset >  mat-dialog-container {
    padding: 0px;
    border-radius: 5px;
}
a {
    cursor: pointer;
}
