.publicacao-content {
    width: 550px;
    margin-bottom: 45px;
}
mat-card {
    padding-top: 0px;
}
#descricao {
    margin-top: 16px;
}
.actions {
    margin-top: 20px;
}
.user-publicacao {
    font-weight: bold;
    text-transform: capitalize;
    color: #0288d1;
    
}
.imgHidden {
    display: none;
}
.local-content{
   top: 0px !important;
}
.history-status {
    cursor: pointer;
}
.data-publicacao {
    color: #A9A9A9;
    font-size: 0.875rem;
}
.img-publicacao img {
    width: 100%;
    height: 550px;
}
.local-publicacao {
    width: 300px;
    height: 60px;
    background-color: #0288d1;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 40px;

}
.local-publicacao span {
    font-size: 1rem;
    letter-spacing: 0.15px;
    text-align: center;
}
.tipo-publicacao {
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    top: -23px;
    text-transform: uppercase;
}
.info-publicacao {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #0288d1;
}
#icon-apoiar {
    color: red;
}
#icon-comment {
    color: #0288d1;
}
.actions-publicacao {
    width: 50%;
}
.status-content-publicacao {
    width: 50%;
}
.status-publicacao {
    height: 45px;
    color: white;
    background-color: green;
    padding-right: 20px;
    padding-left: 20px;    
    border-radius: 40px;
}
.reclamacao {
    background-color: red;
    color: white;
}
.sugestao {
    background-color: orange;
    color: white;
}
.elogio {
    background-color: green;
    color: white;
}
.loading {
    margin-top: 20px;
    height: 300px;
    background-color: #e9e9e9;
}
.loading div section {
    height: 7px;
    width: 80px;
    background-color: #A9A9A9;
    border-radius: 25%;
}
.loading div section:nth-child(2) {
    width: 60px;
}
#loading-rows {
    height: 60px;
}
.apoiado {
    color: #0288d1 !important;
}
#apoiadores {
    cursor: default;
}
#img-loading {
    background-color: #A9A9A9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.background {
    background: rgb(0, 0, 0) transparent;
}
.animate {
    animation: pulse 2s infinite;
}
.show-apoiadores {
    margin-top: 25px;
    position: absolute;
    z-index: 9999;
    transition: 300ms;
}
.concluido {
    background-color: #4C7A34;
    color: white;
}
.execucao {
    background-color: #AFB915;
    color: white;
}
.encaminhado {
    background-color: #EFCA16;
    color: white;
}
.analise {
    background-color: #ECA303;
    color: white;
}
.protocolado {
    background-color: #F36000;
    color: white;
}
.recebido {
    background-color: #CA251F;
    color: white;
}
@keyframes pulse {
	0% {
		background-color: #bdbebd;
	}

	70% {
		background-color: #d3d3d3;
	}

	100% {
		background-color: #bdbebd;
	}
}

@media(max-width: 959px) {
    header img {
        width: 50px;
        height: 50px;
    }
}