<div 
id="publicacao"
fxLayout="column"
*ngFor="let publicacao of publicacaoContent, let i = index"
class="publicacao-content">



<mat-card>
  <div fxLayoutAlign="center center">
    <div 
    [class.mat-elevation-z3]="true"
    class="tipo-publicacao"
    [ngClass]="{'elogio': publicacao.categoria.nome === 'Elogio',
     'reclamacao': publicacao.categoria.nome === 'Reclamação',
    'sugestao': publicacao.categoria.nome === 'Sugestão'}"
    fxLayout="row"
    fxLayoutAlign="center center">
    <span>
       {{ publicacao.categoria.nome }} 
    </span>
    </div>
  </div>
  <div 
  fxLayoutAlign="space-between"
  fxLayout="row"> 
  <section>
    <header
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px">
    <participativo-avatar 
    id="home-avatar"
    borderColor="2px solid #0288d1" 
    [src]="usuarioImageUrl + publicacao.usuario?.avatar | img:'../../../../../assets/imgs/no_user_logo.png' | async"
    alt="Foto do usuário."
    width="70px" height="70px">
    </participativo-avatar>
      <section
      fxLayout="column"
      fxLayoutAlign="center start"
      fxLayoutGap="10px"
      >
        <span class="user-publicacao">
          {{ publicacao.usuario.nome  }} {{ publicacao.usuario.sobrenome }}
        </span>
        <span class="data-publicacao">
          Publicado em {{ publicacao.createdAt }}
        </span>
      </section>
    </header>
  </section>
  <section *ngIf="usuario.uuid === publicacao.usuario.uuid">
    <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edit(publicacao)">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="delete(publicacao.uuid)">
        <mat-icon>delete</mat-icon>
        <span>Apagar</span>
      </button>
    </mat-menu>
  </section>
  </div>
</mat-card>
<div class="img-publicacao">
    <img 
    *ngIf="publicacao.image"
    [attr.src]="(publicacaoImageUrl + publicacao.image | img) | async" 
    id="img">
</div>

<mat-card fxLayout="column">
  <span id="descricao">
    {{ publicacao.descricao }}
  </span>
  <div fxLayoutAlign="center center" *ngIf="publicacao.endereco != null">
    <a (click)="openMap(publicacao.endereco)">
      <div 
      [ngClass]="{'local-content': publicacao.image === null}"
      [class.mat-elevation-z3]="true"
      class="local-publicacao"
      fxLayout="row"
      fxLayoutAlign="center center">
      <span>
        {{ publicacao.endereco.logradouro }} {{ publicacao.endereco.numero }} - {{ publicacao.endereco.bairro.nome }} {{ publicacao.endereco.complemento }}
      </span>
      </div>
    </a>
  </div>

  <div 
  class="info-publicacao"
  fxLayoutAlign="space-between">
    <a id="apoiadores" (mouseover)="showApoiadores(i)" (mouseout)="showApoiadores(i)">
        <span *ngIf="publicacao.totalApoios > 0" >
          <strong>{{ publicacao.totalApoios }}</strong> pessoas apoiam essa publicação
        </span>
    </a>
      <div fxLayoutAlign="start" class="show-apoiadores" *ngIf="showApoiador[i] " [@fadeInOut]>
          <app-show-apoiadores [apoiadores]="publicacao.apoios"></app-show-apoiadores>
      </div>
   

    <span *ngIf="publicacao.totalComentarios > 0">
      <a (click)="openSelect(i)"><strong>{{ publicacao.totalComentarios }} </strong> Comentários</a>
    </span>
  </div>
  <mat-divider [inset]="true"></mat-divider>

  <div 
  class="actions"
  fxLayoutAlign="space-between">
  <section fxLayout>
    <button mat-button (click)="apoiarOrDesapoiar(publicacao)"> 
      <mat-icon [ngClass]="{'apoiado': apoio[publicacao.uuid]}" id="icon-apoiar">mood</mat-icon>
      {{ apoio[publicacao.uuid] ? 'Apoiado' : 'Apoiar' }}
    </button>
    <button (click)="openSelect(i)" mat-button aria-label="Example icon button with a home icon">
      <mat-icon id="icon-comment">insert_comment
      </mat-icon>
      Comentar
    </button>
  </section>
  <div
  *ngFor="let status of publicacao.statuses | lastPosition"
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
  >
  <a
  (click)= "openDialog(publicacao.statuses)"
  class="history-status"
  fxLayout="column"
  fxLayoutAlign="center center">
    <section
    [ngClass]="{'concluido': status.tipo === 'CONCLUIDO',
     'execucao': status.tipo === 'EXECUCAO',
    'encaminhado': status.tipo === 'ENCAMINHADO',
    'analise': status.tipo === 'ANALISE',
    'protocolado': status.tipo === 'PROTOCOLADO',
    'recebido': status.tipo === 'RECEBIDO'}"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    class="status-publicacao">
    <mat-icon>check_circle</mat-icon>
      <span>
        {{ status.createdAt | dateSeparation }}
      </span>
      <b>
      <span >
        {{ status.tipo }}
      </span>
    </b>
    </section>
  </a>
  </div>
  </div>
<participativo-comment 
  *ngIf="show[i]"
  (emitComment)= "receiveComment($event)"
  (emitComment)= "createComment(publicacao)"
  (editComment)= "editComment($event)"
  (deleteComment)= "deleteComment($event)"
 [comment]="publicacao.comentarios"></participativo-comment>
</mat-card>
</div>
